---
http_interactions:
- request:
    method: get
    uri: https://cloud.ifca.es:8787/occi1.1/-/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Www-Authenticate:
      - Keystone uri='https://keystone.ifca.es:5000/'
      X-Compute-Request-Id:
      - req-7ecda54f-96a3-4d83-827b-f54685ecba35
    body:
      encoding: UTF-8
      string: Authentication required
  recorded_at: Tue, 03 Jan 2017 13:41:52 GMT
[...]
- request:
    method: get
    uri: https://keystone.ifca.es:5000/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 300
      message: Multiple Choices
    headers:
      X-Distribution:
      - Ubuntu
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"versions": {"values": [{"status": "stable", "updated": "2016-04-04T00:00:00Z",
        "media-types": [{"base": "application/json", "type": "application/vnd.openstack.identity-v3+json"}],
        "id": "v3.6", "links": [{"href": "https://keystone.ifca.es:5000/v3/", "rel":
        "self"}]}, {"status": "stable", "updated": "2014-04-17T00:00:00Z", "media-types":
        [{"base": "application/json", "type": "application/vnd.openstack.identity-v2.0+json"}],
        "id": "v2.0", "links": [{"href": "https://keystone.ifca.es:5000/v2.0/", "rel":
        "self"}, {"href": "http://docs.openstack.org/", "type": "text/html", "rel":
        "describedby"}]}]}}'
  recorded_at: Tue, 03 Jan 2017 13:41:52 GMT
- request:
    method: post
    uri: https://keystone.ifca.es:5000/v2.0/tokens
    body:
      encoding: UTF-8
      string: '{"auth":{"voms":true}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Distribution:
      - Ubuntu
      X-Openstack-Request-Id:
      - req-d261747b-092c-4bb3-b2a4-2b0d30789c76
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"access": {"token": {"issued_at": "2017-01-03T13:41:53.000000Z", "expires":
        "2017-01-03T14:41:53Z", "id": "gAAAAABYa6oh0savMKTOUQHRFlWbo8s89kSOKDnCqMxmOmpZ4qhvvVO6XKur-aJ4Yu8Lbbog9r7bty2tsR-Gpg_v865tJmVzKMtCNJlnoTXLYVec4ZfBAtDZk1bSnpME0D9ZQ5LGD3TgwxdMTPVAEEd2YPM8mv5uMA",
        "audit_ids": ["7RlUAeCqSr6UwETsM2xYXw"]}, "serviceCatalog": [], "user": {"username":
        "/DC=org/DC=terena/DC=tcs/C=CZ/O=Masaryk University/CN=Radim Janca 255879",
        "roles_links": [], "id": "37c194e3320d42b893e7931614779ae5", "roles": [],
        "name": "/DC=org/DC=terena/DC=tcs/C=CZ/O=Masaryk University/CN=Radim Janca
        255879"}, "metadata": {"is_admin": 0, "roles": []}}}'
  recorded_at: Tue, 03 Jan 2017 13:41:53 GMT
- request:
    method: get
    uri: https://keystone.ifca.es:5000/v2.0/tenants
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Token:
      - gAAAAABYa6oh0savMKTOUQHRFlWbo8s89kSOKDnCqMxmOmpZ4qhvvVO6XKur-aJ4Yu8Lbbog9r7bty2tsR-Gpg_v865tJmVzKMtCNJlnoTXLYVec4ZfBAtDZk1bSnpME0D9ZQ5LGD3TgwxdMTPVAEEd2YPM8mv5uMA
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Distribution:
      - Ubuntu
      X-Openstack-Request-Id:
      - req-dcfd927c-36f1-436d-b370-010bc00577a4
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"tenants_links": [], "tenants": [{"description": "VO fedcloud.egi.eu",
        "enabled": true, "id": "999f045cb1ff4684a15ebb338af69460", "name": "VO:fedcloud.egi.eu"}]}'
  recorded_at: Tue, 03 Jan 2017 13:41:53 GMT
- request:
    method: post
    uri: https://keystone.ifca.es:5000/v2.0/tokens
    body:
      encoding: UTF-8
      string: '{"auth":{"voms":true,"tenantName":"VO:fedcloud.egi.eu"}}'
    headers:
      X-Auth-Token:
      - gAAAAABYa6oh0savMKTOUQHRFlWbo8s89kSOKDnCqMxmOmpZ4qhvvVO6XKur-aJ4Yu8Lbbog9r7bty2tsR-Gpg_v865tJmVzKMtCNJlnoTXLYVec4ZfBAtDZk1bSnpME0D9ZQ5LGD3TgwxdMTPVAEEd2YPM8mv5uMA
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Distribution:
      - Ubuntu
      X-Openstack-Request-Id:
      - req-3566227a-47c0-4290-85e0-7d22befecc20
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"access": {"token": {"issued_at": "2017-01-03T13:41:53.000000Z", "expires":
        "2017-01-03T14:41:53Z", "id": "gAAAAABYa6oh1pwxu7Btp9mxuslXMEQySZbI8NLEwOEGOEnNKx6x8O0iczH3fMQlwpA2QDTQk_Mp6Ok1IIjG7IVks34TVq_Nfsj4sggva3eTXqfzltKgg_qzeGC9IW3Mr-NjjtGegbj7l5lXzTdn8gSV1aS9OEZ9Z1jzE8GHhP83729yJrXrndQ",
        "tenant": {"description": "VO fedcloud.egi.eu", "enabled": true, "id": "999f045cb1ff4684a15ebb338af69460",
        "name": "VO:fedcloud.egi.eu"}, "audit_ids": ["6-EdZcooTkWQ40fDSR5I3Q"]}, "serviceCatalog":
        [{"endpoints": [{"adminURL": "https://cloud.ifca.es:8774/v2.1/999f045cb1ff4684a15ebb338af69460",
        "region": "RegionOne", "internalURL": "https://cloud.ifca.es:8774/v2.1/999f045cb1ff4684a15ebb338af69460",
        "id": "1b7f14c87d8c42ad962f4d3a5fd13a77", "publicURL": "https://cloud.ifca.es:8774/v2.1/999f045cb1ff4684a15ebb338af69460"}],
        "endpoints_links": [], "type": "compute", "name": "nova"}, {"endpoints": [{"adminURL":
        "https://heat.ifca.es:8004/v1/999f045cb1ff4684a15ebb338af69460", "region":
        "RegionOne", "internalURL": "https://heat.ifca.es:8004/v1/999f045cb1ff4684a15ebb338af69460",
        "id": "2adeae78b26d403895e5bf5ae4c1a604", "publicURL": "https://heat.ifca.es:8004/v1/999f045cb1ff4684a15ebb338af69460"}],
        "endpoints_links": [], "type": "orchestration", "name": "heat"}, {"endpoints":
        [{"adminURL": "http://[...]
- request:
    method: get
    uri: https://cloud.ifca.es:8787/occi1.1/-/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Token:
      - gAAAAABYa6oh1pwxu7Btp9mxuslXMEQySZbI8NLEwOEGOEnNKx6x8O0iczH3fMQlwpA2QDTQk_Mp6Ok1IIjG7IVks34TVq_Nfsj4sggva3eTXqfzltKgg_qzeGC9IW3Mr-NjjtGegbj7l5lXzTdn8gSV1aS9OEZ9Z1jzE8GHhP83729yJrXrndQ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf8
      X-Compute-Request-Id:
      - req-e7b646a2-7821-4aba-9aed-519830655354
    body:
      encoding: UTF-8
      string: |-
        Category: entity; scheme="http://schemas.ogf.org/occi/core#"; class="kind"; title="entity"; location="https://cloud.ifca.es:8787/occi1.1/entity/"
        Category: resource; scheme="http://schemas.ogf.org/occi/core#"; class="kind"; title="resource"; rel="http://schemas.ogf.org/occi/core#entity"; location="https://cloud.ifca.es:8787/occi1.1/resource/"
        Category: link; scheme="http://schemas.ogf.org/occi/core#"; class="kind"; title="link"; location="https://cloud.ifca.es:8787/occi1.1/link/"
        [...]
- request:
    method: get
    uri: https://cloud.ifca.es:8787/occi1.1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Token:
      - gAAAAABYa6oh1pwxu7Btp9mxuslXMEQySZbI8NLEwOEGOEnNKx6x8O0iczH3fMQlwpA2QDTQk_Mp6Ok1IIjG7IVks34TVq_Nfsj4sggva3eTXqfzltKgg_qzeGC9IW3Mr-NjjtGegbj7l5lXzTdn8gSV1aS9OEZ9Z1jzE8GHhP83729yJrXrndQ
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
      X-Compute-Request-Id:
      - req-7bd8a222-4296-401e-be07-31d74e618848
    body:
      encoding: UTF-8
      string: The resource could not be found.
  recorded_at: Tue, 03 Jan 2017 13:41:55 GMT
[...]
- request:
    method: get
    uri: https://cloud.ifca.es:8787/occi1.1/compute/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Token:
      - gAAAAABYa6oh1pwxu7Btp9mxuslXMEQySZbI8NLEwOEGOEnNKx6x8O0iczH3fMQlwpA2QDTQk_Mp6Ok1IIjG7IVks34TVq_Nfsj4sggva3eTXqfzltKgg_qzeGC9IW3Mr-NjjtGegbj7l5lXzTdn8gSV1aS9OEZ9Z1jzE8GHhP83729yJrXrndQ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/uri-list; charset=utf8
      X-Compute-Request-Id:
      - req-2cda3f30-eb93-49c3-9f68-9ba606e14680
    body:
      encoding: UTF-8
      string: |-
        https://cloud.ifca.es:8787/occi1.1/compute/105a723d-4e18-40c1-923b-1210f282e100
        https://cloud.ifca.es:8787/occi1.1/compute/0423e210-8471-4b60-8b90-d11aa4d9be5f
        https://cloud.ifca.es:8787/occi1.1/compute/c85e0880-ce30-421a-a8c8-b64a607b2c26
        https://cloud.ifca.es:8787/occi1.1/compute/df8faea6-1003-4d52-9482-165e74824561
        https://cloud.ifca.es:8787/occi1.1/compute/26874df4-e7ed-4a0d-9ed4-79133eacf45a
  recorded_at: Tue, 03 Jan 2017 13:41:57 GMT
- request:
    method: get
    uri: https://cloud.ifca.es:8787/occi1.1/compute/105a723d-4e18-40c1-923b-1210f282e100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Token:
      - gAAAAABYa6oh1pwxu7Btp9mxuslXMEQySZbI8NLEwOEGOEnNKx6x8O0iczH3fMQlwpA2QDTQk_Mp6Ok1IIjG7IVks34TVq_Nfsj4sggva3eTXqfzltKgg_qzeGC9IW3Mr-NjjtGegbj7l5lXzTdn8gSV1aS9OEZ9Z1jzE8GHhP83729yJrXrndQ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf8
      X-Compute-Request-Id:
      - req-0acfa50d-e140-4223-ae0c-9cb7c5ebdfb6
    body:
      encoding: UTF-8
      string: |-
        Category: compute; scheme="http://schemas.ogf.org/occi/infrastructure#"; class="kind"; title="compute resource"; rel="http://schemas.ogf.org/occi/core#resource"; location="https://cloud.ifca.es:8787/occi1.1/compute/"
        Category: d6277ac2-2ae5-4df6-b7fd-88131e10bf61; scheme="http://schemas.openstack.org/template/os#"; class="mixin"; title="EGI FEDCLOUD Image for EGI Ubuntu 16.04 LTS [Ubuntu/16.04/VirtualBox]"; rel="http://schemas.ogf.org/occi/infrastructure#os_tpl"; location="https://cloud.ifca.es:8787/occi1.1/os_tpl/d6277ac2-2ae5-4df6-b7fd-88131e10bf61"
        Category: 2; scheme="http://schemas.openstack.org/template/resource#"; class="mixin"; title="Flavor: m1.small"; rel="http://schemas.ogf.org/occi/infrastructure#resource_tpl"; location="https://cloud.ifca.es:8787/occi1.1/resource_tpl/2"
        X-OCCI-Attribute: occi.core.title="ub16"
        X-OCCI-Attribute: occi.compute.state="active"
        X-OCCI-Attribute: occi.compute.memory=2000
        X-OCCI-Attribute: occi.compute.cores=1
        X-OCCI-Attribute: occi.compute.hostname="ub16"
        X-OCCI-Attribute: occi.core.id="105a723d-4e18-40c1-923b-1210f282e100"
        Link: <https://cloud.ifca.es:8787/occi1.1/compute/105a723d-4e18-40c1-923b-1210f282e100?action=start>; rel="http://schemas.ogf.org/occi/infrastructure/compute/action#start"
        Link: <https://cloud.ifca.es:8787/occi1.1/compute/105a723d-4e18-40c1-923b-1210f282e100?action=stop>; rel="http://schemas.ogf.org/occi/infrastructure/compute/action#stop"
        Link: <https://cloud.ifca.es:8787/occi1.1/compute/105a723d-4e18-40c1-923b-1210f282e100?action=restart>; rel="http://schemas.ogf.org/occi/infrastructure/compute/action#restart"
        Link: <https://cloud.ifca.es:8787/occi1.1/compute/105a723d-4e18-40c1-923b-1210f282e100?action=suspend>; rel="http://schemas.ogf.org/occi/infrastructure/compute/action#suspend"
        Link: <https://cloud.ifca.es:8787/occi1.1/networklink/105a723d-4e18-40c1-923b-1210f282e100_172.16.8.245>; rel="http://schemas.ogf.org/occi/infrastructure#network"; self="https://cloud.ifca.es:8787/occi1.1/networklink/105a723d-4e18-40c1-923b-1210f282e100_172.16.8.245"; occi.networkinterface.mac="fa:16:3e:a4:42:39"; occi.networkinterface.interface="eth0"; occi.networkinterface.state="active"; occi.networkinterface.allocation="dynamic"; occi.networkinterface.address="172.16.8.245"; occi.core.source="https://cloud.ifca.es:8787/occi1.1/compute/105a723d-4e18-40c1-923b-1210f282e100"; occi.core.target="https://cloud.ifca.es:8787/occi1.1/network/fixed"; occi.core.id="105a723d-4e18-40c1-923b-1210f282e100_172.16.8.245"
  recorded_at: Tue, 03 Jan 2017 13:41:57 GMT
[...]
